#phone-details-container{
    /* display: none;/ */
}
.phn-details-img{
    height:300px;
    width: 50px;
}
.font-style{
    color:#1f2729;
    font-weight: 400;
}
#icorrectInput{
    display: none;
}
#spinnerShow{
    position: absolute;
    display: none;
}
/* Result not found */
#result-not-found{
    display: none;
    margin-top: 200px;
}