html{
    /* background-color: rgb(241, 235, 235); */
}
body{
    background-color: rgb(242, 245, 245);
}
/* top title */
#top-title{
    padding: 0;
    margin: 0;
    font-size: 45px;
    color: rgb(44, 137, 44);
}
/* top title style */
#top-title-style{
    color: rgb(169, 22, 47);
    font-weight: 600
}
/* card image bg color */
#card{
    background-color: rgb(248, 244, 244);
}
/* details img title */
#details-img-title{
    color: green;
}
/* card details image size */
.details-img{
    height:400px;
    width: 300px;
    margin-top: 35px;
}
#phone-details-container{
    overflow: hidden;
}
/* phone text details styles */
.font-style{
    color:#1f2729;
    font-weight: 400;
}
/* incorrect input error */
#icorrectInput{
    display: none;
}
/* loading spinner */
#spinnerShow{
    display: none;
}
/* Result not found */
#result-not-found-container{
    text-align: center;
    width: 500px;
}
/* result not found */
#result-not-found{
    display: none;
}